.benefits-page {
	background-image: url(../images/benefits-page.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	.offer {
		background-image: url(../images/question_signs.png);
		background-size: 988px;
		background-repeat: no-repeat;
		background-position: 50% 100px;
	}

	.have_doubt {
		background-image: url(../images/exclamation_signs.png);
		background-size: 963px;
		background-repeat: no-repeat;
		background-position: 50% 100px;
	}
}

.you_get {
	display: block;
	text-align: center;
	margin-top: 45px;

	&__feature {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding: 0 20px 0 70px;
		margin: 10px;
		width: 305px;
		height: 65px;
		border-radius: 5px;
		background-color: #F9FAFB;
		color: $blueD;
		overflow: hidden;
		text-align: left;
		@extend %shadow;
		@extend %vertAlign;

		&:after {
			content: '';
			display: block;
			width: 61px;
			height: 100%;
			position: absolute;
			left: 0px;
			top: 0;
			bottom: 0;
			border-right: 1px solid #E3E7E9;
			background-image: url(../images/you_get_icons.png);
		}
		&.lamp:after {
			background-position: -0px -65px;
		}
		&.rocket:after {
			background-position: -0px -195px;
		}
		&.graph:after {
			background-position: -60px -0px;
		}
		&.shield:after {
			background-position: -60px -195px;
		}
		&.recycle:after {
			background-position: -0px -130px;
		}
		&.arrow:after {
			background-position: -0px -0px;
		}
		&.money:after {
			background-position: -60px -65px;
		}
		&.rising:after {
			background-position: -60px -130px;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			width: 95%;
			font-family: $rcb;
			font-size: 18px;
			line-height: 20px;
		}
	}
}


.reasons {
	@include flex();
	&__item {
		width: 23%;
		margin: 0 1%;
		padding: 30px 20px;
		margin-top: 60px;
		position: relative;
		height: 260px;
		text-align: left;
		background-color: #FFF;
		@extend %shadow;  
		@include transition(all, .2s);
		&:hover {
			@include transform(scale(1.1));
			a {opacity: 1;}
		}
		&:before {
			content: attr(data-order);
			display: block;
			@include position(absolute, 10px, auto, auto, 12px);
			color: #A5A5A5;
			font: 16px/1 $rcl;
		}
		&__imgWrap {
			height: 50px;
			margin: 0 0 15px;
			position: relative;
			overflow: visible;
			text-align: center;
			background: url('../images/reason_icons.png') no-repeat;
			img {
			}
		}
		p {
			font: 16px $rcl;
			color: $blueD;
		}
		&:nth-child(1) &__imgWrap{background-position: -5px -153px; width: 39px; height: 49px;}
		&:nth-child(2) &__imgWrap{background-position: -5px -43px; width: 47px; height: 50px;}
		&:nth-child(3) &__imgWrap{background-position: -5px 11px; width: 50px; height: 38}
		&:nth-child(4) &__imgWrap{background-position: -5px -98px; width: 47px; height: 50px;}

		@include mh800 {
	         margin-top: 40px;
	    }
	    @include mh800 {
	         margin-top: 20px;
	    }
	}
}
