.main-page {
	.offer .subtitle {
		margin: 30px auto 45px;
		@include mh800 {
			margin: 15px auto 20px;
		}
		@include mh750 {
			margin: 5px auto 10px;
		}
	}
}
.weDo {
	@include flex();
	@include mh700 {
		@include flex($justify : center);
	}
	&__item {
		width: 23%;
		margin: 0 1%;
		padding: 50px 0;
		margin-top: 60px;
		position: relative;
		@extend %shadow;  
		background-color: #FCFDFD;
		@include transition(all, .2s);
		&:hover {
			@include transform(scale(1.04));
			background-color: #FFF;
			a {opacity: 1;}
		}
		&:before {
			content: attr(data-order);
			display: block;
			@include position(absolute, 14px, auto, auto, 14px);
			color: #A5A5A5;
			font: 16px $rcl;
		}
		&__imgWrap {
			height: 100px;
			width: 110px;
			margin: 0 auto 15px;
			position: relative;
			overflow: visible;
			text-align: center;
			img {
				@include position(absolute, 0, 0, auto, 0);
				margin: auto;
			}
			@include mh700 {
		        height: 75px;
		    }
		}
		&:nth-child(2) &__imgWrap img {left: 10px}
		&:nth-child(4) &__imgWrap img {left: 18px}
		@include mh700 {
	         &:nth-child(1) &__imgWrap img {width: 160px; left: 7px;}
			 &:nth-child(2) &__imgWrap img {width: 118px; left: 20px}
			 &:nth-child(3) &__imgWrap img {width: 160px; left: 7px;}
			 &:nth-child(4) &__imgWrap img {width: 110px; left: 23px}
	    }
		h3 {
			font: 22px $rcb;
			color: $blueD;
			@include mh700 {
				font: 18px/18px $rcb;
		    }
		}
		a {
			@include position(absolute, auto, 0, 15px, 0);
			margin: auto;
			font: 16px $rcli;
			color: $blue;
			opacity: 0;
			@include transition(all, .2s);
			@include mh700 {
				font: 14px/14px $rcli;
				bottom: 10px;
		    }
		}
		@include mh800 {
			padding: 40px 0;
	        margin-top: 40px;
	    }
		@include mh700 {
			width: 20%;
			padding: 35px 0;
		}
	}
}


.trustUs {
	display: inline-block;
	vertical-align: top;
	width: 550px;
	text-align: left;
	margin-top: 25px;
	h2 {
		text-align: left;
		margin-bottom: 20px;
		font: 55px/55px $rcb;
		@include mh850 {
	        font-size: 50px;
	        line-height: 1;
	    }
	    @include mh800 {
	        font-size: 42px;
	    }
	    @include mh660 {
	        font-size: 40px;
	    }
	}
	&__comp {
		background-image: url("../images/comp_divide.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-bottom: 70px;
		@extend %clearfix;	  
		&__item {
			height: 95px;
			width: 164px;
			text-align: center;	
			float: left;
			&:nth-child(3n + 2) {
				width: 198px;
			}
			&:before {
				height: 100%;
				display: inline-block; vertical-align: middle;
				content: "";
			}
			img {
				max-width: 90%;
				max-height: 90%;
				display: inline-block; vertical-align: middle;
			}
		}
		@include mh750 {
	        margin-bottom: 40px;
	    }
	}
	.slick-dots {
		bottom: -60px;
		@include mh750 {
	        bottom: -40px;
	    }
	}
}


.weRecommend {
	width: 335px;
	display: inline-block;
	vertical-align: top;
	h3 {
		font: 22px $rcl; 
		text-transform: uppercase; 
		margin-bottom: 20px; 
		color: $blueD; 
		text-align: left;
		@include mh800 {
	        margin-bottom: 10px;
	    }
		&:before {
			content: "";
			display: inline-block;
			width: 25px;
			height: 25px;
			background-image: url("../images/quote.png");
			margin-right: 8px;
			margin-left: -10px;
			margin-top: 2px;
			vertical-align: top;
		}
	}
	&__item {
		width: 100%;
		padding: 21px 25px;
		background-color: #FDFDFE;
		@extend %shadow;  
		margin-bottom: 15px;
		text-align: left;
		position: relative;
		@include transition(all, .2s);
		&:hover {
			@include transform(scale(1.04));
			background-color: #FFF;
		}
		&:hover h4      {text-decoration: none;}
		&:hover h4 span {color: $blue;}
		@include mh850 {
	        padding: 15px 20px;
	        margin-bottom: 10px;
	    }
	    @include mh800 {
	        padding: 10px 20px;
	        margin-bottom: 4px;
	    }
	    @include mh660 {
	        padding: 6px 15px;
	    }
		h4 {
			font: 18px/22px $rcb;
			margin-bottom: 15px;
			text-decoration: underline;
			color: #3FA2FF;
			span {
				color: $blueD;
				padding-bottom: 2px;
			}
			@include mh800 {
		        margin-bottom: 10px;
		    }
		    @include mh700 {
		       	font: 16px/20px $rcb;
		       	margin-bottom: 6px;
		    }
		}
		p {
			font: 16px/20px $rcli;
			color: #6E6869;
			margin-bottom: 20px;	
			@include mh750 {
		        font: 15px/18px $rcli;
		        margin-bottom: 15px;
		    }	
		}
		&__date ,
		a {
			@include position(absolute, auto, 10px, 5px, auto);
			font: 16px/20px $rcli;
			color: #BABABA;
			@include transition(all, 0s);
			@include mh750 {
		        font: 15px/18px $rcli;
		    }
		}
		a {
			color: $blue;
			opacity: 0;
		}
		&:hover &__date {opacity: 0;}
		&:hover a {opacity: 1; @include transition(all, .4s);}	
	}
	.button {
		margin-top: 20px;
		@include mh850 {
	        margin-top: 10px;
	    }
	}
}




.doneProjects {
	margin-top: 30px;
	margin-bottom: 0;
	padding: 10px 0px 30px;
	overflow: visible;
	@include mh900 {
        margin-top: 0;
        padding-top: 0;
    }
	@include mh800 {
         margin-top: 10px;
    }
    &__slide {text-align: center;}
	&__item {
		width: 324px; height: 380px;
		@extend %shadow;  
		border: 7px solid #fff;
		position: relative;
		margin: 20px 10px;
		overflow: hidden;
		display: inline-block;
		@include transition(all, .2s);
		&:hover {
			@include transform(scale(1.04));
			background-color: #FFF;
			box-shadow: 0px 2px 12px 0px rgba( 0, 0, 0, .2 );
    		-webkit-box-shadow: 0px 2px 12px 0px rgba( 0, 0, 0, .2 );
		}
		&.no-overflow {
			overflow: visible;
		}
		img {
			height: 100%;
			max-width: 100%;
		}
		&__info {
			background-color: #FFF;
			position: absolute;
			bottom: -100%;
			padding: 12px;
			text-align: center;
			@include transition(all, .4s);
			width: 100%;
			span {
				font: 16px $rcl;
				color: $blueD;
			}
			p {
				font: 20px $rcb;
				margin: 12px 0 20px 0;
				color: $blueD;
			}
			a {
				color: $blue;
				font: 16px/20px $rcli;
			}
		}
		&:hover &__info {
			bottom: 0;
		}
		@include mh900 {
	        height: 340px;
	        width: 290px !important;
	    }
	    @include mh800 {
	        height: 300px;
	        width: 256px !important;
	    }
	    @include mh750 {
	        height: 270px;
			width: 230px !important;
	    }
	}
	.slick-dots {
		bottom: -15px;
	}
	+ .button {
		margin-top: 25px;
		@include mh750 {
	        padding-bottom: 10px;
	    }
	}
	@include mh750 {
        padding-bottom: 10px;
    }
}

