.main-page {
	background-image: url(../images/main-page.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.weDo {
	@include flex();
	&__item {
		width: 23%;
		margin: 0 1%;
		padding: 50px 0;
		margin-top: 60px;
		position: relative;
		@extend %shadow;  
		background-color: #FCFDFD;
		@include transition(all, .2s);
		&:hover {
			@include transform(scale(1.1));
			background-color: #FFF;
			a {opacity: 1;}
		}
		&:before {
			content: attr(data-order);
			display: block;
			@include position(absolute, 14px, auto, auto, 14px);
			color: #A5A5A5;
			font: 16px $rcl;
		}
		&__imgWrap {
			height: 100px;
			width: 110px;
			margin: 0 auto 15px;
			position: relative;
			overflow: visible;
			text-align: center;
			img {
				@include position(absolute, 0, 0, auto, 0);
				margin: auto;
			}
		}
		&:nth-child(2) &__imgWrap img {left: 10px}
		&:nth-child(4) &__imgWrap img {left: 18px}
		h3 {
			font: 22px $rcb;
			color: $blueD;
		}
		a {
			@include position(absolute, auto, 0, 15px, 0);
			margin: auto;
			font: 16px $rcli;
			color: $blue;
			opacity: 0;
			@include transition(all, .2s);
		}

		@include mh800 {
	         margin-top: 40px;
	    }
	    @include mh800 {
	         margin-top: 20px;
	    }
	}
}


.trustUs {
	display: inline-block;
	vertical-align: top;
	width: 550px;
	text-align: left;
	margin-top: 25px;
	h2 {
		text-align: left;
		margin-bottom: 20px;
	}
	&__comp {
		background-image: url("../images/comp_divide.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-bottom: 70px;
		@extend %clearfix;	  
		&__item {
			height: 95px;
			width: 164px;
			text-align: center;	
			float: left;
			&:nth-child(3n + 2) {
				width: 198px;
			}
			&:before {
				height: 100%;
				display: inline-block; vertical-align: middle;
				content: "";
			}
			img {
				max-width: 90%;
				max-height: 90%;
				display: inline-block; vertical-align: middle;
			}
		}
	}
	.slick-dots {
		bottom: -60px;
	}
}


.weRecommend {
	width: 335px;
	display: inline-block;
	vertical-align: top;
	h3 {
		font: 22px $rcl; 
		text-transform: uppercase; 
		margin-bottom: 20px; 
		color: $blueD; 
		text-align: left;
		&:before {
			content: "";
			display: inline-block;
			width: 25px;
			height: 25px;
			background-image: url("../images/quote.png");
			margin-right: 8px;
			margin-left: -10px;
			margin-top: 2px;
			vertical-align: top;
		}
	}
	&__item {
		width: 100%;
		padding: 23px 25px;
		background-color: #FDFDFE;
		@extend %shadow;  
		margin-bottom: 15px;
		text-align: left;
		position: relative;
		@include transition(all, .2s);
		&:hover {
			@include transform(scale(1.1));
			background-color: #FFF;
		}
		&:hover h4      {text-decoration: none;}
		&:hover h4 span {color: $blue;}
		h4 {
			font: 18px/22px $rcb;
			margin-bottom: 15px;
			text-decoration: underline;
			color: #3FA2FF;
			span {
				color: $blueD;
				padding-bottom: 2px;
			}
		}
		p {
			font: 16px/20px $rcli;
			color: #6E6869;
			margin-bottom: 20px;		
		}
		&__date ,
		a {
			@include position(absolute, auto, 10px, 5px, auto);
			font: 16px/20px $rcli;
			color: #BABABA;
			@include transition(all, 0s);
		}
		a {
			color: $blue;
			opacity: 0;
		}
		&:hover &__date {opacity: 0;}
		&:hover a {opacity: 1; @include transition(all, .4s);}	
	}
	.button {
		margin-top: 20px;
	}
}




.doneProjects {
	margin-top: 30px;
	@include mh800 {
         margin-top: 10px;
    }
	&__item {
		width: 320px; height: 380px;
		@extend %shadow;  
		border: 7px solid #fff;
		position: relative;
		margin: 20px 14px;
		@include transition(all, .2s);
		&:hover {
			@include transform(scale(1.1));
			background-color: #FFF;
		}
		img {
			height: 100%;
			max-width: 100%;
		}
		&__info {
			background-color: #FFF;
			position: absolute;
			bottom: -100%;
			padding: 12px;
			text-align: center;
			@include transition(all, .4s);
			width: 100%;
			span {
				font: 16px $rcl;
				color: $blueD;
			}
			p {
				font: 20px $rcb;
				margin: 12px 0 20px 0;
				color: $blueD;
			}
			a {
				color: $blue;
				font: 16px/20px $rcli;
			}
		}
		&:hover &__info {
			bottom: 0;
		}
	}
}

