.portfolio-page {
	background-image: url(../images/portfolio-page.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}


.shuffle {
	margin-top: 33px;

	&__controls {
		text-align: center;

		&__button {
			@include transition(all, .2s);
			height: 44px;
			padding: 0 25px;
			margin: 0 9px;
			display: inline-block;
			vertical-align: top;
			background-color: transparent;
			font-family: $rcl;
			font-size: 18px;
			color: $blue;
			border: 1px solid $blue;
			border-radius: 44px;

			&:hover,
			&.active {
				border-color: $blueD;
				color: $blueD;
			}
		}
	}

	&__container {
		@include flex($alignI: flex-start, $justify: flex-start,  $direction: row, $wrap: wrap);

		.mix {
			display: none;
			position: relative;
			z-index: 10;

			&:hover {
				z-index: 15;
			}

			&:nth-child(3n) .shuffle__container__item:hover .text {
				left: auto;
				right: 100%;
				border-top-left-radius: 5px;
				border-top-right-radius: 0;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 0;
			}
		}

		&__item {
			overflow: visible;
			z-index: 20;
			border: 0;
			width: 324px!important;
			height: 380px!important;

			.link {
				display: block;
				position: relative;
				height: 100%;
				width: 100%;
				border: 7px solid #fff;
				border-radius: 5px;

				&:before {
					@include transition(all, 0.3s);
					content: '';
					width: 67px;
					height: 67px;
					margin-left: -33px;
					top: 50%;
					margin-top: -67px;
					position: absolute;
					left: 50%;
					background-image: url(../images/zoom-big-shadow.png);
					background-size: 100%;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					visibility: hidden;
					opacity: 0;
				}

				img {
					width: 100%;
				}
			}

			&:hover .link:before {
				visibility: visible;
				opacity: 1;
			}

			.doneProjects__item__info {
				bottom: 0;
				visibility: hidden;
				opacity: 0;
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
			}
			&:hover .doneProjects__item__info {
				visibility: visible;
				opacity: 1;
			}
			.doneProjects__item__info a {
				vertical-align: middle;

				&:before {
					content: '';
					display: inline-block;
					width: 14px;
					height: 14px;
					margin-right: 8px;
					background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo3QTY1OUE4RDE3NzExMUU2ODU2OEVGQzRDNzdDRjA3NSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo3QTY1OUE4RTE3NzExMUU2ODU2OEVGQzRDNzdDRjA3NSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjdBNjU5QThCMTc3MTExRTY4NTY4RUZDNEM3N0NGMDc1IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjdBNjU5QThDMTc3MTExRTY4NTY4RUZDNEM3N0NGMDc1Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Cs1okwAAARBJREFUeNqMkq1uAkEUhWcIogkOg61AVdYgwUD6AIBrtmt4gSY1VIFYzQsQflJUVatwGKrbIkhIXwEMCQgalu8mt+l0GVJO8uVuZvfMvXNmbRzHRlQaGkspQAUu4A3Gk1uzMx6l1JShfMIUriEHT7DiXd5ntMVBbNW0ghs6bHUz2bQND5BlfZ3sKONduSYRz3tKE2Zw7xtVzvTqmhyzKIKGzyhBLM1pbSDjM0p6VT3TH7EmCuDZZxxrbeuHrqkMNWgdpSr3qJHPNYhIxwvUtIA6fOiZf++RhS+JHF6gAyOQ+C/V9A6hO5H9+XNOST8OoQt30JfO/xoTIfW0DlLmDOnZ+mp6hPRZHROd02z0fRBgAE7nVRHGh766AAAAAElFTkSuQmCC);
					background-size: 100%;
					background-repeat: no-repeat;
					background-position: 50% 50%;
				}
			}


			.text {
				@include transition(opacity, 0.3s);
				width: 100%;
				height: calc(100% -14px);
				background-color: $blue;
				position: absolute;
				left: 0;
				top: 7px;
				bottom: 7px;
				visibility: hidden;
				opacity: 0;
				z-index: -1;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;

				.scrollBar {
					height: 100%; 
					border: 35px solid transparent;

					.ps-scrollbar-y-rail {
						top: 35px!important;
						bottom: 35px!important;
						background-color: #82CCEF !important;

						.ps-scrollbar-y {
							background-color: #fff!important;
							border-radius: 5px!important;
						}
					}
				}
			}
			&:hover .text {
				left: 100%;
				visibility: visible;
				opacity: 1;
				z-index: -1;
			}
		}
	} 
}