.portfolio-page {
	background-image: url(../images/portfolio-page.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}


.shuffle {
	margin-top: 33px;

	&__controls {
		text-align: center;

		&__button {
			@include transition(all, .2s);
			height: 44px;
			padding: 0 25px;
			margin: 0 9px;
			display: inline-block;
			vertical-align: top;
			background-color: transparent;
			font-family: $rcl;
			font-size: 18px;
			color: $blue;
			border: 1px solid $blue;
			border-radius: 44px;

			@media (max-width: 850px) {
				& {
					height: 30px;
					padding: 0 12px;
					margin: 3px;
					font-size: 16px;
				}
			}

			&:hover,
			&.active {
				border-color: $blueD;
				color: $blueD;
			}
		}
	}

	&__container {
		@include flex($alignI: flex-start, $justify: space-between,  $direction: row, $wrap: wrap);
		padding-top: 18px;

		@media (max-width: 1100px) {
			& {
				padding-top: 30px;
			}
		}

		&:after {
			content: "";
			width: 344px;
			display: inline-block;
			visibility: hidden;
			height: 0;
			line-height: 0;
		}

		.mix {
			display: none;
			position: relative;
			z-index: 10;
			@media (max-width: 1100px) {
				& {
					width: 100%;
					margin-bottom: 25px;
				}
			}

			&:hover {
				z-index: 15;
			}

			&.current-left .shuffle__container__item:hover .text {
				left: auto;
				left: -100%;
				border-top-left-radius: 5px;
				border-top-right-radius: 0;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 0;
			}
			&.current:nth-of-type(3n) {
				outline: 1px solid red;
			}
		}

		&__item {
			@extend %clearfix;
			overflow: visible;
			z-index: 20;
			border: 0;
			width: 324px!important;
			height: 380px!important;

			@media (max-width: 1100px) {
				& {
					width: 100%!important;
					height: 374px!important;
					background-color: #fff;
					border: 7px solid #fff;
					margin: 0;
				}

				&:hover {
					@include transform(none);
				}
			}

			@media (max-width: 750px) {
				& {
					height: auto!important;
				}
			}

			.link {
				display: block;
				position: relative;
				height: 100%;
				width: 100%;
				border: 7px solid #fff;
				border-radius: 5px;

				@media (max-width: 1100px) {
					& {
						width: 300px;
						height: 360px;
						float: left;
						border: 0;
					}
				}

				@media (max-width: 750px) {
					& {
						width: 280px;
						float: none;
						display: block;
						margin: 30px auto;
						box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
					}
				}

				@media (max-width: 500px) {
					& {
						width: 250px;
						margin-top: 15px;
					}
				}

				&:before {
					@include transition(all, 0.3s);
					content: '';
					width: 67px;
					height: 67px;
					margin-left: -33px;
					top: 50%;
					margin-top: -67px;
					position: absolute;
					left: 50%;
					background-image: url(../images/zoom-big-shadow.png);
					background-size: 100%;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					visibility: hidden;
					opacity: 0;

					@media (max-width: 1100px) {
						& {
							visibility: visible;
							opacity: 1;
							margin-top: -33px;
						}
					}
				}

				img {
					width: 100%;

					@media (max-width: 1100px) {
						border-radius: 5px;
					}
				}
			}

			&:hover .link:before {
				visibility: visible;
				opacity: 1;
			}

			.doneProjects__item__info {
				bottom: 0;
				visibility: hidden;
				opacity: 0;
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;

				@media (max-width: 1100px) {
					& {
						position: static;
						width: calc(100% - 307px);
						float: right;
						visibility: visible;
						opacity: 1;
						height: 150px;

						p {
							margin: 5px 0 20px;
						}
					}
				}

				@media (max-width: 750px) {
					& {
						width: 100%;
						height: auto;
						margin-bottom: 30px;
						float: none;
						display: block;
					}
				}
			}
			&:hover .doneProjects__item__info {
				visibility: visible;
				opacity: 1;
			}
			.doneProjects__item__info a {
				vertical-align: middle;

				&:before {
					content: '';
					display: inline-block;
					width: 14px;
					height: 14px;
					margin-right: 8px;
					background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo3QTY1OUE4RDE3NzExMUU2ODU2OEVGQzRDNzdDRjA3NSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo3QTY1OUE4RTE3NzExMUU2ODU2OEVGQzRDNzdDRjA3NSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjdBNjU5QThCMTc3MTExRTY4NTY4RUZDNEM3N0NGMDc1IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjdBNjU5QThDMTc3MTExRTY4NTY4RUZDNEM3N0NGMDc1Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Cs1okwAAARBJREFUeNqMkq1uAkEUhWcIogkOg61AVdYgwUD6AIBrtmt4gSY1VIFYzQsQflJUVatwGKrbIkhIXwEMCQgalu8mt+l0GVJO8uVuZvfMvXNmbRzHRlQaGkspQAUu4A3Gk1uzMx6l1JShfMIUriEHT7DiXd5ntMVBbNW0ghs6bHUz2bQND5BlfZ3sKONduSYRz3tKE2Zw7xtVzvTqmhyzKIKGzyhBLM1pbSDjM0p6VT3TH7EmCuDZZxxrbeuHrqkMNWgdpSr3qJHPNYhIxwvUtIA6fOiZf++RhS+JHF6gAyOQ+C/V9A6hO5H9+XNOST8OoQt30JfO/xoTIfW0DlLmDOnZ+mp6hPRZHROd02z0fRBgAE7nVRHGh766AAAAAElFTkSuQmCC);
					background-size: 100%;
					background-repeat: no-repeat;
					background-position: 50% 50%;
				}
			}


			.text {
				@include transition(all, 0.5s);
				width: 100%;
				height: calc(100% - 14px);
				background-color: $blue;
				position: absolute;
				left: 0;
				top: 7px;
				bottom: 7px;
				opacity: 0;
				z-index: -1;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				text-align: left;

				@media (max-width: 1100px) {
					& {
						position: relative;
						width: calc(100% - 307px);
						height: calc(100% - 150px);
						float: right;
						visibility: visible;
						opacity: 1;
						top: 0!important;
						left: 0!important;
						right: 0!important;
						border-width: 15px;
						border-radius: 5px;
					}
				}

				@media (max-width: 750px) {
					& {
						width: 100%;
						float: none;
						height: auto;
						padding-top: 20px;
					}
				}

				.title {
					font-family: $rcb;
					font-size: 16px;
					text-transform: uppercase;
					color: #fff;
				}

				p {
					font-family: $rcl;
					font-size: 14px;
					line-height: 20px;
					color: #333333;
				}

				ul li {
					color: #fff;
					font-family: $rcb;
					font-size: 16px;

					&:before {
						content: '';
						width: 12px;
						height: 12px;
						display: inline-block;
						vertical-align: middle;
						background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo3OTlGQ0I3OTE4NjExMUU2OUNCNjgwNjlDNjU1RDVCMyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo3OTlGQ0I3QTE4NjExMUU2OUNCNjgwNjlDNjU1RDVCMyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjc5OUZDQjc3MTg2MTExRTY5Q0I2ODA2OUM2NTVENUIzIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjc5OUZDQjc4MTg2MTExRTY5Q0I2ODA2OUM2NTVENUIzIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+t8i1OgAAADxJREFUeNpi/A8EDCQAFijNSKT6/0wMJAJcGv5DMdEaCPoB2WRsfEaq2cCIy2Sq2cBAKF7ItoHo5AEQYADv1QscN/kDrQAAAABJRU5ErkJggg==);
						background-size: 100%;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						margin-right: 12px;
					}
				}

				.scrollBar {
					height: 100%; 
					border: 35px solid transparent;

					.ps-scrollbar-y-rail {
						top: 35px!important;
						bottom: 35px!important;
						background-color: #82CCEF !important;

						.ps-scrollbar-y {
							background-color: #fff!important;
							border-radius: 5px!important;
						}
					}

					@media (max-width: 1100px) {
						& {
							border-width: 15px;

							.ps-scrollbar-y-rail {
								top: 15px!important;
								bottom: 15px!important;;
							}
						}
					}
				}
			}
			&:hover .text {
				left: 100%;
				opacity: 1;
				z-index: -1;
			}
		}
	} 
}