.designInfo {
	@include flex($alignI: start, $justify: space-between);
	margin-top: 50px;
	&__item {
		width: 30%;
		text-align: left;
		color: $blueD;
		&__iconLi {
			@extend .you_get__feature;	
			width: 100%;
			margin: 0 0 20px 0;
		}
		h3 {
			font: 16px $rcb;
			color: $blueD;
			text-transform: uppercase;
			text-align: left;
			margin-bottom: 25px;
		}
		p {
			font: 16px $rcl;
			color: $blueD;
		}
		li {
			font: 16px/24px $rcl;
			&:before {
				top: 6px;
			}
		}
	}
}

.seoText {
	background-color: #FFF;
	height: 620px;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	padding: 0 30px;
	text-align: left;
	@extend %shadow;

	.ps-scrollbar-y-rail {
		top: 25px!important;
		bottom: 25px!important;
	}
	> span {
		font: 18px $rcl;
		text-transform: uppercase;
		color: $blue;
		display: block;
		margin-bottom: 25px;
	}
	h3 {
		font: 18px/22px $rcb;
		margin-bottom: 20px;
		color: $blueD;
		&:first-of-type:after {
			content: "";
			display: block;
			border-top: 1px solid #E0E3E7;
			margin: 20px 0;
		}
	}
	p {
		font: 16px/20px $rcl;
		color: #768494;
		&:after {
			content: "";
			display: block;
			border-top: 1px solid #E0E3E7;
			margin: 20px 0;
		}
		&:last-of-type:after {
			display: none;
		}
	}
}

.seoPromotion {
	ul {
		margin-top: 80px;
		li {
			color: $blueD;
			font: 22px $rcb;
			padding-left: 60px;
			margin-bottom: 25px;
			&:before {
				width: 47px;
				height: 47px;
				background-image: url("../images/seo_icons.png");
				top: -7px;
				background-position: 0 0;
			}
			&:nth-of-type(1):before {background-position: 0 0;}
			&:nth-of-type(2):before {background-position: 0 -54px;}
			&:nth-of-type(3):before {background-position: 0 -108px;}
			&:nth-of-type(4):before {background-position: 0 -164px;}
			&:nth-of-type(5):before {background-position: 0 -218px;}
		}
	}
	.button {
		margin: 35px auto 0 60px;
	}
}