// COLORS
// ---------------------------

$blue: 				#3FA2FF;
$blueD:				#3d5067;
$grey: 				#312829;
$greyL: 			#bebebe;


// FONTS
// ---------------------------
$rt:             'robotothin';
$rb:             'robotobold';
$ri:             'robotoitalic';
$rt_i:           'robotothin_italic';
$rslab_b:        'roboto_slabbold';


$rcl:        'roboto_condensedlight';
$rcli:       'roboto_condensedlight_italic';
$rcb:        'roboto_condensedbold';
$rcr:        'roboto_condensedregular';


html, body {
	font-family: $rcr;
}
body {
	padding: 80px 0;
	position: relative;
	@include mh750 {
        padding: 60px 0;
    }
    @include mh660 {
        padding: 50px 0;
    }
    @include m1200 {
        padding: 70px 0;
    }
}
.fp-enabled body {
	padding: 0;
	position: static;
}
p {

}
h1,
h2,
h3,
h4, 
h5,
p {
	color: $blueD;
}
.white {
	color: #FFF;
}

// lAYOUT
// ---------------------------

.wrapper {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	@media (max-width: 1020px) {
	   width: 100%;
	   padding-left: 10px;
	   padding-right: 10px;
	 }
}
header {

}
aside {

}
main {

}
footer {

}