// COLORS
// ---------------------------
$blue: 				#3FA2FF;
$blue-dark:			#3d5067;
$grey: 				#312829;
$grey-light: 		#bebebe;


// FONTS
// ---------------------------
$rob_t:             'robotothin';
$rob_b:             'robotobold';
$rob_i:             'robotoitalic';
$rob_t_i:           'robotothin_italic';

$rob_slab_b:        'roboto_slabbold';

$rob_cond_l:        'roboto_condensedlight';
$rob_cond_l_i:      'roboto_condensedlight_italic';
$rob_cond_b:        'roboto_condensedbold';
$rob_cond_r:        'roboto_condensedregular';


html, body {
	height: 100%;
	font-family: $rob_cond_r;
}
p {

}
h1,
h2,
h3,
h4, 
h5,
p {

}
.white {
	color: #FFF;
}


// lAYOUT
// ---------------------------

.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
header {

}
aside {

}
main {

}
footer {

}