@import 'reset';
@import 'slick';
@import 'slick-theme';
@import 'settings-magnific';
@import 'magnific-popup';
@import 'fonts';
@import 'settings';
@import 'mixins';


@import 'main';



/*

CSS clearfix----------  @extend %clearfix;

CSS vertical align 
with before  ---------  @extend %clearfix;

CSS position----------  @include position(absolute, auto, 0, auto, 0);

CSS transition--------  @include transition(all, .2s);
CSS transform---------  @include transform(rotate(45deg));
CSS animation---------  @include animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms);

CSS FLEX--------------  @include flex($alignI: center, $justify: space-between,  $direction: row, $wrap: nowrap);	  
CSS FLEX direction----  @include flexDirection(column);
  
CSS Triangle----------  @include triangle(left, $size: 6px, $color: #222);
CSS text ending ------  @include textEnd($overflow: ellipsis); // values are: clip, ellipsis, or a string
CSS tooltip-----------  @include tooltiptooltip($content: attr(data-tooltip), $direction: top);


*/


/* FONTS

$rob_t:             'robotothin';
$rob_b:             'robotobold';
$rob_i:             'robotoitalic';
$rob_t_i:           'robotothin_italic';

$rob_slab_b:        'roboto_slabbold';

$rob_cond_l:        'roboto_condensedlight';
$rob_cond_l_i:      'roboto_condensedlight_italic';
$rob_cond_b:        'roboto_condensedbold';
$rob_cond_r:        'roboto_condensedregular';

*/

/*---------------------- 
    TYPOGRAPHY STYLES
------------------------*/
h1 {
    font: 26px/32px $rb;
    text-align: left;
    text-transform: uppercase;
    color: $blueD;
    &:after {
        content: "";
        display: block;
        width: 80px;
        margin-top: 20px;
        border-top: 1px solid #333333;
    }
}
h2 {
    font: 55px/60px $rcb;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    max-width: 680px;
    color: $blueD;
}
h3 {
    font: 22px $rcb;
    color:  #282828;
}
h4 {
    color: #4D9AF0;
    ont: 20px $rcb;
}
p {
    font: 18px $rcl;
    color: #282828;
}
.subtitle {
    max-width: 680px;
    display: block;
    margin: 0 auto;
    color: $blueD;
    font: 20px/28px $rcl;
}



/*---------------------- 
    BUTTON STYLES
------------------------*/

.button {
    @include transition(all, .2s);
    width: 340px;
    padding: 17px 0 16px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    background-color: $blue;
    border: 1px solid $blue;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    font-family: $rcl;  

    &:hover {
        background-color: transparent;
        color: #3FA2FF
    }

    &.empty {
        border: 1px solid $blue;
        color: $blue;

        &:hover {
            color: #fff;
            background-color: $blue;
        }
    }
}

/* down_button */
.down_button {
    position: absolute;
    display: block;
    width: 340px;
    text-align: center;
    margin-left: -170px;
    font-family: $rcli;
    color: $blue;
    font-size: 18px;
    left: 50%;
    bottom: 55px;

    &:after {
        @include position(absolute, auto, auto, -20px, 50%);
        @include transform(rotate(-45deg));
        content: '';
        width: 7px;
        height: 7px;
        margin-left: -8px;
        border-left: 1px solid $blue;
        border-bottom: 1px solid $blue;
    }
}




/*---------------------- 
    HEADER STYLES
------------------------*/
header {
    @include position(absolute, 0, auto, auto, 0);
    width: 100%;
    height: 80px;
    z-index: 100;
    background: #fff;
    color: $blueD;
    box-shadow: 0.5px 0.866px 2px 0px rgba( 0, 0, 0, .2);
    .wrapper {
        height: 100%;
    }

    @include m800 {
        @include position(fixed, 0, auto, auto, -100%);
        width: 260px !important;
        height: 100%;
        text-align: center;
        background-color: #191919;
        margin-top: 0;
        padding: 20px 0;
        z-index: 100;
        
        &.active {left: 0;}

    }
    .phone {
        @include position(absolute, 0, 35px, 0, auto);
        margin: auto;
        height: 30px;
        display: inline-block;
        font: 22px $rcb;
        }
}

.logo {
    @include position(absolute, 0, auto, 0, 45px);
    margin: auto;
    height: 30px;
	display: inline-block;
    p {
        font: 22px $rsb;
        color: $blueD;
        text-transform: uppercase;
        span {
            display: inline-block;
            text-align: center;
            background-color: $blue;
            width: 30px;
            color: #FFF;
            font-style: normal;
            margin-right: 3px;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
        }
    }
}


/*-------- nav ---------*/
nav  {height: 100%;}
nav ul {
    @include flex($alignI: center, $justify: center);
    list-style-type: none;
    margin: 0;
    height: 100%;

    a {
        font: 18px $rcl;
        color: #3D5067;
        display: inline-block;
        padding: 7px 20px 6px;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px solid transparent;
        margin: 0 5px;
        @include transition(all, .2s);
        -webkit-border-radius: 6px;
                border-radius: 6px;

        &:hover {border: 1px solid $blue; color: $blue;}
    }


    @include m800 { 
        display: block;
        height: 100%;
        overflow: scroll;
        position: relative;
        
        li a                    {   
            margin: 0 0 25px 0;
            &.active {color: #ECCC1D;}
            &:hover  {background: transparent;}
        } 
    }
}


/* ------- menu toggle --------- */
.menu-button {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: salmon;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;

    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line { top: 12px;  margin: auto;}
    .middle_line { top: 22px;  margin: auto;}
    .bottom_line { bottom: 12px; margin: auto;}

    &.active { -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line { @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line { @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line { width: 0; left: 50%;}

    @include m800 {
        display: block;
    }

}


/*---------------------- 
    SECTION STYLES
------------------------*/






/*---------------------- 
    SLICK STYLES
------------------------*/
.slick-dots li {
    width: 12px;
    height: 12px;
    border: 1px solid $blue;
    cursor: pointer;
    margin: 0 10px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    &.slick-active {
        background-color: $blue;
    }
    &:hover {
        background-color: $blue;
    }
    button {
        display: none;
    }
}
.slick-arrow {
    border: 1px solid $blue;
    width: 65px; height: 65px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-top: -30px;
    &.slick-prev {
        left: -110px;
    }
    &.slick-next {
        right: -110px;
    }
}

/*---------------------- 
    FULLPAGE STYLES
------------------------*/

#fp-nav ul li a, .fp-slidesNav ul li a {
    &.active span {
        background-color: $blue!important;
        border: 1px solid $blue!important;
    }
    span {
         width: 12px!important;
        height: 12px!important;
        border: 1px solid #A5CFF8!important;
        cursor: pointer!important;
        -webkit-border-radius: 50%!important;
                border-radius: 50%!important;
    }
}
#fp-nav ul li a, .fp-slidesNav ul li  {
    margin: 14px!important;
}


/*---------------------- 
    TEXT BLOCK WITH SCROLLBAR STYLES
------------------------*/
.scrollBarText {
    height: 430px;
    position: relative;
    margin-top: 50px;
    padding: 40px;
    @extend %shadow;    
     .ps-scrollbar-y-rail {
        background-color: #D1D0D1 !important;
        right: 6px !important;
        top: 6px !important;
        bottom: 6px !important;
        width: 4px !important;
        opacity: 1 !important;
        z-index: 2;
        -webkit-border-radius: 0 !important;
         border-radius: 0 !important;
        .ps-scrollbar-y {
            background-color: $blue !important;
            width: 100% !important;
            -webkit-border-radius: 0 !important;
                    border-radius: 0 !important;
        }
    }
}
.whitePadding{
    position: relative;
    &:after {
     content: "";
     display: block;
     height: 40px;
     background-color: #FFF;
     -webkit-border-radius: 5px;
             border-radius: 5px;
     @include position(absolute, auto, 0, 0, 0 );   
    }
}
.textBlock {
    background-color: #FFF;
    text-align: left;
    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    padding-bottom: 60px;

    -webkit-column-gap: 40px; 
    -moz-column-gap: 40px; 
    column-gap: 40px;
    h3 {
      font: 16px $rcb;  
      color: $blueD;
      margin-bottom: 20px;
    }
    h4 {
        margin-bottom: 20px;
    }
    h5 {
        font: 16px $rcb;  
        color: $blue;
        margin: 0 0 20px;
    }
    h6 {
        font: 16px $rcb; 
        color: $blueD;
        margin: 0 0 24px;
    }
    p {
        font: 16px $rcl; 
        color: $blueD;
        margin-bottom: 20px;
        strong {
            font-family: $rcb;  
        } 
    }
}