@import 'reset';
@import 'slick';
@import 'slick-theme';
@import 'settings-magnific';
@import 'magnific-popup';
@import 'fonts';
@import 'settings';
@import 'mixins';




/*

CSS clearfix----------  @extend %clearfix;

CSS vertical align 
with before  ---------  @extend %clearfix;

CSS position----------  @include position(absolute, auto, 0, auto, 0);

CSS transition--------  @include transition(all, .2s);
CSS transform---------  @include transform(rotate(45deg));
CSS animation---------  @include animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms);

CSS FLEX--------------  @include flex($alignI: center, $justify: space-between,  $direction: row, $wrap: nowrap);	  
CSS FLEX direction----  @include flexDirection(column);
  
CSS Triangle----------  @include triangle(left, $size: 6px, $color: #222);
CSS text ending ------  @include textEnd($overflow: ellipsis); // values are: clip, ellipsis, or a string
CSS tooltip-----------  @include tooltiptooltip($content: attr(data-tooltip), $direction: top);


*/


/* FONTS

$rob_t:             'robotothin';
$rob_b:             'robotobold';
$rob_i:             'robotoitalic';
$rob_t_i:           'robotothin_italic';

$rob_slab_b:        'roboto_slabbold';

$rob_cond_l:        'roboto_condensedlight';
$rob_cond_l_i:      'roboto_condensedlight_italic';
$rob_cond_b:        'roboto_condensedbold';
$rob_cond_r:        'roboto_condensedregular';

*/

/*---------------------- 
    BUTTON STYLES
------------------------*/

.button {
    height: 42px; 
    padding: 0 17px; 
    border: 1px solid #fff; 
    background-color: transparent; 
    color: #FFF; 
    -webkit-border-radius: 10px;
    border-radius: 6px; 
    font: 18px 'helvetica';
    cursor: pointer;
    @include transition(all, .2s);
    
    &:hover {background-color: rgba(255,255,255, .2);}
}


/*---------------------- 
    HEADER STYLES
------------------------*/
header {
    @include position(absolute, 0, auto, auto, 0);
    width: 100%;
    height: 80px;
    z-index: 100;
    background: #fff;
    color: $blueD;
    box-shadow: 0.5px 0.866px 2px 0px rgb( 0, 0, 0 );
    .wrapper {
        height: 100%;
    }

    @include m800 {
        @include position(fixed, 0, auto, auto, -100%);
        width: 260px !important;
        height: 100%;
        text-align: center;
        background-color: #191919;
        margin-top: 0;
        padding: 20px 0;
        z-index: 100;
        
        &.active {left: 0;}
        
        .wrapper {
        }
    }
    .phone {
        @include position(absolute, 0, 35px, 0, auto);
        margin: auto;
        height: 30px;
        display: inline-block;
        font: 22px $rcb;
        }
}

.Фигура_18 {
  background-color: rgb( 255, 255, 255 );
  box-shadow: 0.5px 0.866px 2px 0px rgb( 0, 0, 0 );
  position: absolute;
  left: -193px;
  top: -53px;
  width: 2320px;
  height: 131px;
  z-index: 13;
}


.logo {
    @include position(absolute, 0, auto, 0, 45px);
    margin: auto;
    height: 30px;
	display: inline-block;
    font: 22px $rsb;
    color: $blueD;
    text-transform: uppercase;
    span {
        display: inline-block;
        text-align: center;
        background-color: $blue;
        width: 30px;
        color: #FFF;
        font-style: normal;
        margin-right: 3px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
    }
}


/*-------- nav ---------*/
nav  {height: 100%;}
nav ul {
    @include flex($alignI: center, $justify: center);
    list-style-type: none;
    margin: 0;
    height: 100%;

    a {
        font-size: 16px;
        font-family: 'helvetica';
        color: #3D5067;
        display: inline-block;
        padding: 7px 20px 6px;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px solid transparent;
        margin: 0 5px;
        @include transition(all, .2s);
        -webkit-border-radius: 6px;
                border-radius: 6px;

        &:hover {border: 1px solid $blue; color: $blue;}
    }


    @include m800 { 
        display: block;
        height: 100%;
        overflow: scroll;
        position: relative;
        
        li a                    {   
            margin: 0 0 25px 0;
            &.active {color: #ECCC1D;}
            &:hover  {background: transparent;}
        } 
    }
}


/* ------- menu toggle --------- */
.menu-button {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: salmon;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;

    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line { top: 12px;  margin: auto;}
    .middle_line { top: 22px;  margin: auto;}
    .bottom_line { bottom: 12px; margin: auto;}

    &.active { -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line { @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line { @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line { width: 0; left: 50%;}

    @include m800 {
        display: block;
    }

}




/*---------------------- 
    OFFER STYLES
------------------------*/
.offer {
    height: 100%;
    min-height: 650px;
    max-height: 900px;
    background: url('../images/law.jpg') no-repeat center center;
    background-size: cover;
    padding: 80px 0 0 0;
    position: relative;


    .offerInfo {
        height: 100%;
        @include flex($alignI: center, $justify: space-around, $direction: column);
        z-index: 2;
        position: relative;
        text-align: center;
    }

}


/*---------------------- 
    INFOBLOCKS STYLES
------------------------*/
.infoBlocks {
    @include flex($alignI: top, $justify: center, $wrap: wrap);
      
    .infoBlock  {
        margin-bottom: 20px;
        padding: 0 20px;
        text-align: center;
        border: 1px solid peru;

        &_icon {
            width: 150px;
            height: 150px;
            text-align: center;
            margin: 10px auto 15px;
        }
    }

    &.--two  .infoBlock   {    width: 50%;}
    &.--four .infoBlock   {    width: 25%;}
    &.--three .infoBlock  {    width: 33%;}
}




