@import 'reset';
@import 'slick';
@import 'slick-theme';
@import 'settings-magnific';
@import 'magnific-popup';
@import 'fonts';
@import 'mixins';
@import 'settings';




/*

CSS clearfix----------  @extend %clearfix;

CSS vertical align 
with before  ---------  @extend %clearfix;

CSS position----------  @include position(absolute, auto, 0, auto, 0);

CSS transition--------  @include transition(all, .2s);
CSS transform---------  @include transform(rotate(45deg));
CSS animation---------  @include animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms);

CSS FLEX--------------  @include flex($alignI: center, $justify: space-between,  $direction: row, $wrap: nowrap);	  
CSS FLEX direction----  @include flexDirection(column);
  
CSS Triangle----------  @include triangle(left, $size: 6px, $color: #222);
CSS text ending ------  @include textEnd($overflow: ellipsis); // values are: clip, ellipsis, or a string
CSS tooltip-----------  @include tooltiptooltip($content: attr(data-tooltip), $direction: top);


*/


/* FONTS

$rob_t:             'robotothin';
$rob_b:             'robotobold';
$rob_i:             'robotoitalic';
$rob_t_i:           'robotothin_italic';

$rob_slab_b:        'roboto_slabbold';

$rob_cond_l:        'roboto_condensedlight';
$rob_cond_l_i:      'roboto_condensedlight_italic';
$rob_cond_b:        'roboto_condensedbold';
$rob_cond_r:        'roboto_condensedregular';

*/

/*---------------------- 
    TYPOGRAPHY STYLES
------------------------*/
h1 {
    font: 26px/32px $rb;
    text-align: left;
    text-transform: uppercase;
    color: $blueD;    &:after {
        content: "";
        display: block;
        width: 80px;
        margin-top: 20px;
        border-top: 1px solid #333333;
    }
}
article h1 {
    margin-bottom: 25px;
}
h2 {
    font: 55px/60px $rcb;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    max-width: 680px;
    color: $blueD;
    img {
        display: block;
        text-align: center;
        margin: 0 auto 15px;
        @include mh750 {
            max-width: 80px;
        }
    }
    @include mh850 {
         font: 50px/55px $rcb;
    }
    @include mh800 {
         font: 46px/48px $rcb;
    }
    @include mh700 {
         font: 38px/42px $rcb;
         max-width: 580px;
    }
}
h3 {
    font: 22px $rcb;
    color:  #282828;
}
article h3,
article h4 {
    margin-bottom: 25px;
}
figure {
    figcaption {
        margin: 5px 0 40px;
        font: 14px $rti;
        color: #939393;
        text-align: center;
    }
    img {
    width: 100%;
    }
}

h4 {
    color: #4D9AF0;
    ont: 20px $rcb;
}
p {
    font: 18px $rcl;
    color: #282828;
    margin-bottom: 22px;
    strong {
        font-family: $rcb;
    }
}
article p {
    margin-bottom: 22px;
}
strong {
    font-weight: normal;
}
.subtitle {
    max-width: 680px;
    display: block;
    margin: 12px auto 15px;
    color: $blueD;
    font: 20px/28px $rcl;
    @include mh850 {
         font: 18px/26px $rcl;
         margin: 8px auto 10px;
    }
    @include mh800 {
         font: 18px/24px $rcl;
    }
    @include mh700 {
         font: 16px/22px $rcl;
    }
}
p a,
h2 a,
h3 a,
h4 a {
    color: $blue;
    display: inline-block;
    border-bottom: 1px solid $blue;
}

ul.list,
article ul,
article ul:not(.breadcrumbs) {
    list-style-type: none;
    li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 20px;
        &:before {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            @include position(absolute, 4px, auto, auto, 0px);
            background-image: url("../images/li.png");
            background-repeat: no-repeat;
            background-position: 0 0;
        }
    }
    &.plus li:before {background-image: url("../images/li_plus.png");}
}
blockquote {
    width: 100%;
    padding: 25px 60px;
    border: 1px solid $blue;
    color: $blue;
    margin: 0 0 20px;
    position: relative;
    font: 16px $ri;
    &:before {
        content: "";
        display: block;
        @include position(absolute, 16px, auto, auto, 18px);
        width: 25px; height: 20px;
        background-image: url("../images/quote_sign.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

/*---------------------- 
    BUTTON STYLES
------------------------*/

.button {
    @include transition(all, .2s);
    width: 340px;
    padding: 17px 0 16px;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    background-color: $blue;
    border: 1px solid $blue;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    font-family: $rcl;  

    &:hover {
        background-color: transparent;
        color: #3FA2FF
    }

    &.empty {
        border: 1px solid $blue;
        color: $blue;
        background-color: transparent;
        &:hover {
            color: #fff;
            background-color: $blue;
        }
    }
    @include mh750 {
        width: 330px;
        padding: 15px 0 14px;
        font-size: 20px;
    }
}

/* down_button */
.down_button {
    position: absolute;
    display: block;
    width: 340px;
    text-align: center;
    margin-left: -170px;
    font-family: $rcli;
    color: $blue;
    font-size: 18px;
    left: 50%;
    bottom: 55px;

    &:after {
        @include position(absolute, auto, auto, -20px, 50%);
        @include transform(rotate(-45deg));
        content: '';
        width: 7px;
        height: 7px;
        margin-left: -4px;
        border-left: 1px solid $blue;
        border-bottom: 1px solid $blue;
        @include mh800 {
           bottom: -10px;
        }
    }
    @include mh800 {
       bottom: 35px;
    }
    @include mh700 {
       bottom: 20px;
    }
}




/*---------------------- 
    HEADER STYLES
------------------------*/
header {
    @include position(absolute, 0, auto, auto, 0);
    width: 100%;
    height: 80px;
    z-index: 100;
    background: #fff;
    color: $blueD;
    box-shadow: 0.5px 0.866px 2px 0px rgba( 0, 0, 0, .2);
    .wrapper {
        height: 100%;
    }
    @include mh750 {
        height: 60px;
    }
    @include mh660 {
        height: 50px;
    }

    @include m800 {
        @include position(fixed, 0, auto, auto, -100%);
        width: 260px !important;
        height: 100%;
        text-align: center;
        background-color: #191919;
        margin-top: 0;
        padding: 20px 0;
        z-index: 100;
        
        &.active {left: 0;}

    }
    .phone {
        @include position(absolute, 0, 35px, 0, auto);
        margin: auto;
        height: 30px;
        display: inline-block;
        font: 22px $rcb;
        }
}

.logo {
    @include position(absolute, 0, auto, 0, 45px);
    margin: auto;
    height: 30px;
	display: inline-block;
    p {
        font: 22px $rsb;
        color: $blueD;
        text-transform: uppercase;
        span {
            display: inline-block;
            text-align: center;
            background-color: $blue;
            width: 30px;
            color: #FFF;
            font-style: normal;
            margin-right: 3px;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
        }
    }
}


/*-------- nav ---------*/
nav  {height: 100%;}
nav ul {
    @include flex($alignI: center, $justify: center);
    list-style-type: none;
    margin: 0;
    height: 100%;
    li:before {display: none !important;}

    a {
        font: 18px $rcl;
        color: #3D5067;
        display: inline-block;
        padding: 7px 20px 6px;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px solid transparent;
        margin: 0 5px;
        @include transition(all, .2s);
        -webkit-border-radius: 6px;
                border-radius: 6px;

        &:hover {border: 1px solid $blue; color: $blue;}
    }


    @include m800 { 
        display: block;
        height: 100%;
        overflow: scroll;
        position: relative;
        
        li a                    {   
            margin: 0 0 25px 0;
            &.active {color: #ECCC1D;}
            &:hover  {background: transparent;}
        } 
    }
}


/* ------- menu toggle --------- */
.menu-button {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: salmon;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;

    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line { top: 12px;  margin: auto;}
    .middle_line { top: 22px;  margin: auto;}
    .bottom_line { bottom: 12px; margin: auto;}

    &.active { -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line { @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line { @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line { width: 0; left: 50%;}

    @include m800 {
        display: block;
    }

}

/*---------------------- 
    FOOTER STYLES
------------------------*/
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 55px;
    text-align: center;
    @extend %vertAlign;

    &:after {
        content: '';
        height: 1px;
        width: 130px;
        margin-left: -65px;
        top: 0;
        left: 50%;
        position: absolute;
        background-color: #C0C7CF;
    }

    p {
        display: inline-block;
        vertical-align: middle;
        max-width: 95%;
        text-align: center;
        color: $blueD;
        opacity: .5;
        font-family: $rcl;
        font-size: 16px;
        margin-bottom: 0;
    }
}


/*---------------------- 
    SECTION STYLES
------------------------*/
section {
    position: relative;
}





/*---------------------- 
    SLICK STYLES
------------------------*/
.slick-dots li {
    width: 12px;
    height: 12px;
    border: 1px solid $blue;
    cursor: pointer;
    margin: 0 10px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    &.slick-active {
        background-color: $blue;
    }
    &:hover {
        background-color: $blue;
    }
    button {
        display: none;
    }
}
.slick-arrow {
    @include transition(all, 0.2s);
    width: 65px; height: 65px;
    border: 1px solid $blue;
    border-radius: 50%;
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-top: -30px;
    &:before {
        content: '';
        width: 13px;
        height: 13px;
        border-bottom: 1px solid $blue;
        border-left: 1px solid $blue;
        margin-top: -7px;
        margin-left: -5px;
        position: absolute;
        top: 50%;
        left: 50%;
     }
    &.slick-prev {
        left: -110px;
        
        &:before {
            @include transform(rotate(45deg));
        }
    }
    &.slick-next {
        right: -110px;

        &:before {
            @include transform(rotate(-135deg));
            margin-left: -10px;
        }
    }
    &:hover {
        background-color: rgba(63, 162, 255, .2);
    }
}

/*---------------------- 
    FULLPAGE STYLES
------------------------*/
#fp-nav ul li {
    margin: 15px 0!important;
}
#fp-nav ul li a, .fp-slidesNav ul li a {
    margin: 0px!important;

    &.active span {
        background-color: $blue!important;
        border: 1px solid $blue!important;
    }
    span {
        width: 14px!important;
        height: 14px!important;
        border: 2px solid #A5CFF8!important;
        cursor: pointer!important;
        -webkit-border-radius: 50%!important;
                border-radius: 50%!important;
        left: 0!important;
        top: 0!important;
        margin: 0!important;
        background: transparent!important;
    }
}

/*---------------------- 
    Two column block
------------------------*/
.twoColumns {
    > div:first-of-type{
        width: 550px;
        margin-right: 70px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        h2 {
            text-align: left;
            margin-bottom: 20px;
        }
        &.whitePadding {margin-top: 0;}
    }
    > div:nth-of-type(2){
        width: 335px;
        display: inline-block;
        vertical-align: top;
        &.whitePadding {margin-top: 0;}
    }
    h2 {
        font: 45px/55px $rcb;
        margin-bottom: 30px;
        img {
            display: inline-block;
            vertical-align: top;
            margin: 7px 15px 0 0;
        }
        @include mh750 {
            margin-bottom: 20px;
            font: 42px/50px $rcb;
        }
        @include mh660 {
            margin-bottom: 10px;
        }
    }
}

/*---------------------- 
    TEXT BLOCK WITH SCROLLBAR STYLES
------------------------*/
.scrollBar {
    .ps-scrollbar-y-rail {
        background-color: #D1D0D1 !important;
        right: 6px !important;
        top: 40px !important;
        bottom: 40px !important;
        width: 4px !important;
        opacity: 1 !important;
        z-index: 2;
        -webkit-border-radius: 0 !important;
         border-radius: 0 !important;
        @include mh800 {
            top: 30px !important;
            bottom: 30px !important;
        }
        @include mh750 {
            top: 20px !important;
            bottom: 20px !important;
        }
        .ps-scrollbar-y {
            background-color: $blue !important;
            width: 100% !important;
            -webkit-border-radius: 0 !important;
                    border-radius: 0 !important;
        }
    }
}
.scrollBarText {
    height: 430px;
    border: 40px solid transparent;
    background-color: #FFF;
    @include mh800 {
        height: 400px;
        border: 30px solid transparent;
    }
    @include mh750 {
        height: 350px;
        border: 20px solid transparent;
    }
}
.whitePadding{
    position: relative;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 15px;
    overflow: hidden;
    @extend %shadow;
    -webkit-border-radius: 5px;
             border-radius: 5px;

    @include mh800 {
         margin-top: 20px;
    }
}
.textBlock {
    background-color: #FFF;
    text-align: left;
    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    padding-bottom: 60px;

    -webkit-column-gap: 40px; 
    -moz-column-gap: 40px; 
    column-gap: 40px;
    h3 {
      font: 16px $rcb;  
      color: $blueD;
      margin-bottom: 20px;
    }
    h4 {
        margin-bottom: 20px;
    }
    h5 {
        font: 16px $rcb;  
        color: $blue;
        margin: 0 0 20px;
    }
    h6 {
        font: 16px $rcb; 
        color: $blueD;
        margin: 0 0 24px;
    }
    p {
        font: 16px $rcl; 
        color: $blueD;
        margin-bottom: 20px;
        strong {
            font-family: $rcb;  
        } 
    }
}

.single {
    padding-top: 80px;
    padding-bottom: 200px;
    position: relative;
    .wrapper {
    width: 1080px;
    }
    section {
        margin-top: 80px;
    }
}
main {
    width: 64%;
    display: inline-block;
    vertical-align: top;
}
article {
    text-align: left;
}
aside {
    width: 32%;
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
}
.breadcrumbs {
    text-align: left;
    li {
        display: inline-block;
        a {
        font: 14px $rt;
        color: $blue;
        text-decoration: underline;
        }
        &:after {
            display: inline-block;
            vertical-align: middle;
            content: "";
            margin: 0 12px;
            width: 3px;
            height: 5px;
            background-image: url("../images/breadcrumb_sign.png");
            background-size: 100% 100%;
        }
        &:last-of-type:after {display: none; }
        &:first-of-type:before {
            display: inline-block;
            vertical-align: middle;
            content: "";
            margin: 0 6px 0 0;
            width: 9px;
            height: 8px;
            background-image: url("../images/home.png");
            background-size: 100% 100%;
        }
    }
}

.arrowDown {
    display: block;
    margin: 25px auto 0;
    width: 16px;
    height: 8px;
    background-image: url("../images/arrowDown.png");
    background-size: 100% 100%;
    cursor: pointer;
}


/*---------------------- 
    BACKGROUNDS
------------------------*/
.benefits-page,
.service-page {
    background-image: url(../images/bg-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.main-page,
.service-page section:nth-of-type(2) {
    background-image: url(../images/bg-1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.service-page section:nth-of-type(2) {
    background-attachment: scroll;
}

.questionBg {
    background-image: url(../images/question_signs.png);
    background-size: 988px;
    background-repeat: no-repeat;
    background-position: 50% 100px;
}

.exclamationBg {
    background-image: url(../images/exclamation_signs.png);
    background-size: 963px;
    background-repeat: no-repeat;
    background-position: 50% 100px;
}

.plusBg {
    background-image: url(../images/plus_signs.png);
    background-size: 989px;
    background-repeat: no-repeat;
    background-position: 50% 100px;
}



@import 'main';
@import 'benefits';
@import 'service';
@import 'portfolio';
@import 'blog';
@import 'contacts';
